body {
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    height: 100vh;

    --main-size: 1em;
}

#countdown-text {
    color: white;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: #FFFFFF 0 0 calc(var(--main-size) * 0.95);
    text-align: center;
    font-size: calc(var(--main-size) * 4);

    /* background-color: wheat; */
}

#title {
    color: yellow;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: yellow 0 0 calc(var(--main-size) * 0.75);
    text-align: center;
    font-size: calc(var(--main-size) * 2.5);

    /* background-color: wheat; */
}